{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
  <h2 class="text-center">Subcategories</h2>
  <div class="row">
    {% for sub in subcategories %}
      <div class="col-md-4">
        <div class="card mb-3">
          <img src="/{{ sub.subcpic }}" class="card-img-top" style="height:200px; object-fit:cover;">
          <div class="card-body text-center">
            <h5>{{ sub.subcname }}</h5>
            <!-- Future: Yahan subcategory ke products link kar sakte hain -->
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
